# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
env/
venv/
*.egg-info/

# Sphinx documentation
docs/build/

# DotEnv configuration
.env

# Pycharm, VS Code, Spyder, vim
.idea
.vscode/
.spyproject/
*.swp
*.swo

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# here we do not want to include the data and models folders
/data/
/models/

# Mac OS-specific storage files
.DS_Store

# pyenv
.python-version
